* {
    box-sizing: border-box;
}

.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 40px 20px;
}

@font-face {
    font-family: 'SigmarOne';
    src: url('/fonts/SigmarOne-Regular.ttf');
}

a.fw-link {
    font-family: SigmarOne;
    text-decoration: none;
    font-size: x-large
}

@media screen and (max-width: 800px) {
    a.fw-link {
        font-size: large;
    }
}

@media screen and (max-width: 300px) {
    a.fw-link {
        font-size: x-small;
    }
}

.center {
    text-align: center;
}

.link_padding {
    padding: 10px;
}
