* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.archives ul {
    display: flex;
    max-width: 700px;
    margin: 20px auto;
    list-style: none;
    flex-wrap: wrap;
    font-size: 2em;
}

.archives ul > li {
    margin-bottom: 10px;
    width: 50%;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
}

@media( min-width: 721px ) {
    .archives ul > li {
        width: 20%;
    }
}

.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 40px 20px;
}

.bye-img, .banner-img {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
}

.banner-img {
    z-index: 2;
}

.bye-img {
    margin-top: -30px;
    border: 10px solid #000;
    border-radius: 7px;
    z-index: 1;
}
