ul#controls,
ul#transcript {
    display: flex;
    max-width: 700px;
    margin: 20px auto;
    list-style: none;
    flex-wrap: wrap;
    font-size: 2em;
}

ul#controls > li {
    margin-bottom: 10px;
    width: 33%;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
}

ul#archive-list {
    max-width: 700px;
    margin: 20px auto;
    list-style: none;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

ul#archive-list > li {
    margin: 5px;
    padding: 1px;
}
